<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

<!-- Navigation bar -->
<div class="container" style="max-width: 100%">
  <div class="row navbar navbar-dark bg-dark pd-0 pt-0">
    <div class="col">
      <b class="text-white" th:utext="${user.getEmail()}"></b>
      <span class="text-white" th:utext="' with roles: '"></span>
      <span class="text-white" th:text="${user.rolesToString()}"/>
    </div>
    <div class="col-1"><a class="nav-link active text-white-50" href="/">Logout</a></div>
  </div>
</div>

<!-- Menu buttons (admin and user) on the left -->
<div class="container-fluid g-0 align-items-start">
  <div class="row g-0">

    <div class="col-2 nav flex-column nav-pills fs-5 py-1 my-3" id="v-pills-tab" role="tablist"
         aria-orientation="vertical" style="width: 280px;">
      <a class="nav-link active" id="v-pills-admin-tab" data-bs-toggle="pill" href="#v-pills-admin" role="tab"
         aria-controls="v-pills-admin" aria-selected="true">Admin</a>
      <a class="nav-link" id="v-pills-user-tab" data-bs-toggle="pill" href="#v-pills-user" role="tab"
         aria-controls="v-pills-user" aria-selected="false">User</a>
    </div>

    <div class="col tab-content" id="v-pills-tabContent">

      <!-- Admin panel -->
      <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel" aria-labelledby="v-pills-admin-tab">
        <div class="container-fluid bg-light px-4 py-3 g-0">
          <h1>Admin panel</h1>

          <!--/* Dynamic tabs for Users/New User */-->
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-link active" id="nav-usersTable-tab" data-bs-toggle="tab"
               href="#nav-usersTable" role="tab"
               aria-controls="nav-usersTable" aria-selected="true">Users table</a>
            <a class="nav-link" id="nav-user-tab" data-bs-toggle="tab" href="#new-user"
               role="tab" aria-controls="nav-user" aria-selected="false">New User</a>
          </div>

          <div class="tab-content" id="nav-tabContent">

            <!--/* All users table */-->
            <div class="tab-pane fade show active" id="nav-usersTable"
                 role="tabpanel" aria-labelledby="nav-usersTable-tab">
              <div class="card">
                <div class="card-header py-3">
                  <div class="h4 m-0">All users</div>
                </div>
                <div class="card-body">

                  <table class="table table-striped border-top">
                    <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">First Name</th>
                      <th scope="col">Last Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Role</th>
                      <th scope="col">Edit</th>
                      <th scope="col">Delete</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="userItem, pos : ${users}" th:classappend="${pos.odd}">
                      <td th:utext="${userItem.getId()}">ID</td>
                      <td th:utext="${userItem.getFirstName()}">First Name</td>
                      <td th:utext="${userItem.getLastName()}">Last Name</td>
                      <td th:utext="${userItem.getEmail()}">Email</td>
                      <td th:utext="${userItem.rolesToString()}">Roles</td>
                      <td>
                        <button type="button" class="btn btn-info text-white" data-bs-toggle="modal"
                                th:data-bs-target="${'#editModal' + userItem.getId()}">Edit</button>
                        <div class="modal fade" th:id="${'editModal' + userItem.getId()}" tabindex="-1"
                             aria-labelledby="editModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title" id="editModalLabel">Edit user</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <form th:method="PATCH" th:action="@{/admin/{id}(id=${userItem.getId()})}" autocomplete="off" th:id="${'editForm' + userItem.getId()}">
                                  <label class="d-block mx-auto pt-1 mt-2 mb-0 text-center fs-5 font-weight-bold">ID</label>
                                  <input name="id" th:value="${userItem.getId()}" type="text" disabled class="form-control mx-auto" style="width: 250px;">

                                  <label class="form-label d-block mx-auto pt-1 mt-2 mb-0 text-center fs-5 font-weight-bold">First name</label>
                                  <input name="firstName" th:value="${userItem.getFirstName()}" type="text" class="form-control mx-auto" style="width: 250px;">

                                  <label class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 font-weight-bold">Last name</label>
                                  <input name="lastName" th:value="${userItem.getLastName()}" type="text" class="form-control mx-auto" style="width: 250px;">

                                  <label class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 font-weight-bold">Email</label>
                                  <input name="email" th:value="${userItem.getEmail()}" required type="email" class="form-control mx-auto" style="width: 250px;">

                                  <label class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 font-weight-bold">Password</label>
                                  <input name="password" value="" type="text" class="form-control mx-auto" style="width: 250px;" placeholder="Type new password">

                                  <label class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 font-weight-bold">Role</label>
                                  <select class="form-control mx-auto" multiple size="2" type="text"
                                            name="selectedRoles" style="width: 250px;">
                                    <option th:each="role : ${roles}"
                                            th:text="${role.getName()}"
                                            th:value="${role.getId()}"
                                            th:field="*{roles}" name="roles"
                                            th:label="${#strings.substringAfter(role.name, 'ROLE_')}">
                                    </option>
                                  </select>
                                </form>

                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary fs-5" data-bs-dismiss="modal">Close</button>
                                <input type="submit" th:form="${'editForm' + userItem.getId()}" class="btn btn-primary fs-5" value="Edit"/>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                th:data-bs-target="${'#deleteModal' + userItem.getId()}">Delete</button>
                        <div class="modal fade" th:id="${'deleteModal' + userItem.getId()}" tabindex="-1"
                             aria-labelledby="deleteModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title" id="deleteModalLabel">Delete user</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>

                              <div class="modal-body">
                                <label class="d-block mx-auto pt-1 mt-2 mb-0 text-center fs-5 font-weight-bold">ID</label>
                                <input type="text" th:value="${userItem.getId()}" disabled class="form-control mx-auto" style="width: 250px;">

                                <label class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 font-weight-bold">First name</label>
                                <input th:value="${userItem.getFirstName()}" disabled type="text" class="form-control mx-auto" style="width: 250px;">

                                <label class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 font-weight-bold">Last name</label>
                                <input th:value="${userItem.getLastName()}" disabled type="text" class="form-control mx-auto" style="width: 250px;">

                                <label class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 font-weight-bold">Email</label>
                                <input th:value="${userItem.getEmail()}" disabled type="text" class="form-control mx-auto" style="width: 250px;">

                                <label class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 font-weight-bold">Role</label>
                                <select class="form-control mx-auto" name="userRoles" size="2" disabled type="text" style="width: 250px;">
                                  <option th:each="role : ${userItem.roles}" th:label="${#strings.substringAfter(role.name, 'ROLE_')}"></option>
                                </select>
                              </div>

                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary fs-5" data-bs-dismiss="modal">Close</button>
                                <form th:method="DELETE" th:action="@{/admin/{id}(id=${userItem.getId()})}">
                                  <input class="btn btn-danger fs-5" type="submit" value="Delete"/>
                                </form>
                              </div>

                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>

            <!--/* Add new user form */-->
            <div class="tab-pane fade" id="new-user" role="tabpanel" aria-labelledby="nav-user-tab" tabindex="0">
              <div class="card">
                <div class="card-header py-3">
                  <div class="h4 m-0">Add new user</div>
                </div>
                <div class="card-body">

                  <form role="form" th:method="post" th:action="@{/admin/save}" th:object="${newUser}">
                    <label for="firstName" class="form-label d-block mx-auto pt-1 mt-2 mb-0 text-center fs-5 font-weight-bold"
                           style="width: 380px;">First name</label>
                    <input type="text" class="form-control mx-auto" id="firstName" style="width: 380px;"
                           th:field="*{firstName}">

                    <label for="lastName" class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 font-weight-bold"
                           style="width: 380px;">Last name</label>
                    <input type="text" class="form-control mx-auto" id="lastName" style="width: 380px;"
                           th:field="*{lastName}">

                    <label for="email" class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 font-weight-bold"
                           style="width: 380px;">Email</label>
                    <input required type="email" class="form-control mx-auto" id="email" style="width: 380px;"
                           th:field="*{email}">

                    <label for="password" class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 font-weight-bold"
                           style="width: 380px;">Password</label>
                    <input type="password" class="form-control mx-auto" id="password" style="width: 380px;"
                           th:field="*{password}">

                    <label for="newRoles" class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 font-weight-bold"
                           style="width: 380px;">Role</label>
                    <select multiple class="form-control mx-auto" style="width: 380px;"
                            id="newRoles" name="roles">
                      <option th:each="role : ${roles}"
                              th:selected="*{hasRole('__${role.id}__')}" th:text="${role.getName()}"
                              th:value="${role.getId()}">
                    </select>

                    <input type="submit" class="btn btn-success d-block mx-auto mt-3 fs-3" value="Add new user">
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- User panel -->
      <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
        <div class="container-fluid bg-light px-4 py-3 g-0">
          <h1>User information-page</h1>
          <div class="card">
            <div class="card-header py-3">
              <div class="h4 m-0">About user</div>
            </div>
            <div class="card-body">

              <table class="table table-striped border-top">
                <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Role</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td th:text="${user.getId()}"></td>
                  <td th:text="${user.getFirstName()}"></td>
                  <td th:text="${user.getLastName()}"></td>
                  <td th:text="${user.getEmail()}"></td>
                  <td th:text="${user.rolesToString()}"></td>
                </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous">
</script>

</body>
</html>